.hero {}

.hero__inner {
    display: grid;
    grid-template-columns: 1fr 618px;
    column-gap: 100px;
    max-width: 1414px;
    margin: 0 auto;
    align-items: center;

    
    @include maps{
        grid-template-columns: repeat(2, 1fr); 
    }

    @include for-desktop{
        grid-template-columns: none;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.hero__wrapper {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;

    @include tablet{
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
        margin: 0 auto;
    }

    @include mobile{
        padding-top: 80px;
    }

    & li {
        border: 3px solid #5970f6;
        border-radius: 14px;
        padding: clamp(16px, 3vw, 24px) 0;
        text-align: center;
        font-weight: 600;
        font-size: clamp(12px, 1.5vw, 24px);
        text-transform: capitalize;
        color: #5970f6;
        width: 100%;
        text-align: center;

        @include maps{

        }
    }

    // & li:not(:first-child) {
    //     margin-left: 27px;

    //     // @include
    // }
}

.hero__inner__item {
    height: 100%;
    max-height: 478px;
    display: flex;
    flex-direction: column;

    @include for-desktop{
        max-height: unset;
    }

    & strong {
        display: block;
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
        color: #595856;
        text-align: center;
    }

    & h1 {
        padding-top: 24px;
    }

    & p {
        text-align: center;
        padding-top: 40px;
        display: block;

        @include for-desktop{
            max-width: 521px;
        }
    }

    & a,
    & button {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    & img {
        border-radius: 14px;

        @include for-desktop{
            max-width: 362px;
            margin-bottom: 72px;
        }
        @include mobile{
            max-width: 100%;

        }
    }
}

.hero__inner__item__grow {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;

    @include for-desktop{
        margin-top: 80px;
    }
}
